html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
    font-weight: 300;
}

.startMenu.content {
    position: absolute;
    width: calc(100% - 40px);
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    margin: 0;
    padding: 0;
}

.startMenu.content h3 {
    margin-top: 0;
    font-weight: 500;
}

.bg-dark {
    background-color: #232323;
    color: #ccc;
}

.startMenu.column-left {
    float: left;
    width: 40%;
}

.startMenu.column-right {
    float: left;
    width: 60%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

ul.startMenu {
    margin-top: 0;
    padding-left: calc(2% - 10px);
    list-style-type: none;
}

ul.startMenu li {
    margin-bottom: 5px;
    cursor: pointer;
}

.li_start_menu_item {
    text-decoration: none;
}

.li_start_menu_item:hover {
    text-decoration: underline;
}

.blue-text {
    color: #0084ff;
}

.inline-block {
    display: inline-block;
}

/* Buttons */
.btn {
    border: 2px solid #bbbbbb;
    background-color: #00000000;
    font-size: 16px;
    color: #ccc;
    cursor: pointer;
    border-radius: 20px;
}

.btn-xs {
    padding: 3px 10px;
    font-size: 12px;
    border-radius: 20px;
}

.btn-sm {
    padding: 6px 20px;
    border-radius: 20px;
}

.btn-md {
    padding: 12px 30px;
    border-radius: 40px;
    font-size: 20px;
}

.btn-lg {
    padding: 12px 40px;
    border-radius: 80px;
    font-size: 25px;
}

/* Green */
.btn.success {
    border-color: #4CAF50;
    color: green;
}

.btn.success:hover {
    background-color: rgb(18, 58, 19);
}

/* Blue */
.btn.info {
    border-color: #2196F3;
    color: dodgerblue;
}

.btn.info:hover {
    background: rgb(7, 42, 71);
}

/* Orange */
.btn.warning {
    border-color: #d88200;
}

.btn.warning:hover {
    background: #553301;
}

/* Red */
.btn.danger {
    border-color: #f44336;
}

.btn.danger:hover {
    background: #440f0b;
}

/* Gray */
.btn.default {
    border-color: #bbbbbb;
}

.btn.default:hover {
    background: #313131;
}

input:focus, button { outline: 0; }

input[type=text] {
    border: 2px solid #bbbbbb;
    background-color: #00000000;
    font-size: 16px;
    color: #ccc;
    border-radius: 20px;
    padding: 8px;
}

input[type=text]:focus {
    border-color: #ff6e40;
    background: #313131;
}

input[type=text]:hover {
    background: #313131;
}

.live-gradient-bg {
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: GradientBg 15s ease infinite;
	-moz-animation: GradientBg 15s ease infinite;
	animation: GradientBg 15s ease infinite;
}

@-webkit-keyframes GradientBg {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes GradientBg {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes GradientBg {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.test-div {
    width: 600px;
    height: 300px;
}

.text-success {
    color: green;
}

.text-info {
    color: dodgerblue;
}

.text-warning {
    color: #d88200;
}

.text-danger {
    color: #f44336;
}

.text-white {
    color: #bbbbbb;
}

/* Slider */  
input[type="range"] {
    -webkit-appearance: none;
    height: 100%;
    background: transparent;
}
input[type="range"]:focus {
    outline: none;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #ffffff;
    margin-top: -4px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
input[type="range"]::-webkit-slider-runnable-track {
    width: 60%;
    height: 9px;
    background: #bdbdbd;
    border-radius: 3rem;
    transition: all 0.5s;
    cursor: pointer;
}
input[type="range"]:hover::-webkit-slider-runnable-track {
    background: #ff6e40;
}
input[type="range"]::-ms-track {
    width: 60%;
    cursor: pointer;
    height: 9px;
    transition: all 0.5s;
    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type="range"]::-ms-thumb {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #ffffff;
    margin-top: -5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
input[type="range"]::-ms-fill-lower {
    background: #ff6e40;
    border-radius: 3rem;
}
input[type="range"]:focus::-ms-fill-lower {
    background: #ff6e40;
}
input[type="range"]::-ms-fill-upper {
    background: #bdbdbd;
    border-radius: 3rem;
}
input[type="range"]:focus::-ms-fill-upper {
    background: #ff6e40;
}
input[type="range"]::-moz-range-thumb {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #ffffff;
    margin-top: -5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
input[type="range"]::-moz-range-track {
    width: 60%;
    height: 9px;
    background: #bdbdbd;
    border-radius: 3rem;
    transition: all 0.5s;
    cursor: pointer;
}
input[type="range"]:hover::-moz-range-track {
    background: #ff6e40;
}

#editor {
    margin: 0;
    position: relative;
    height: 30%; /* When added costumizable UI, fix this. */
    width: 60%; /* When added costumizable UI, fix this. */
}